html {
  font-size: 62%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body, input, select, textarea {
  font-size: 1.6 rem;
  font-family: "Helvetica Neue",Helvetica,Arial;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  background-color: #637377;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

header a {
  color: #fff;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  color: #fff;
  background-color: #637377;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex:3 60rem;
}

.sidebar {
  flex:1 20rem;
}