html {
  font-size: 62%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  background-color: #637377;
  color: #fff;
  display: flex;
  align-items: center;
}

header a {
  color: #fff;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  color: #fff;
  background-color: #637377;
  display: flex;
  justify-content: center;
  align-items: center;
}
