html {
  font-size: 62%;
  box-sizing: border-box;
}

body, 
  #root {
    height: 100vh;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer"
  }

